@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --corBotoesH2Texto: #FFAE00;
    --arredondamentoBordas: 10px;
    --minhaFonte:font-family: "Playfair Display", serif;

}

body{
    background-repeat: repeat;
    background-image: url(imagens/bg.png);
    
    text-align: center;
}

header{
    background-color: #1E1F22;
    z-index: -2;
    text-align: center;
    padding: 15px;
}

nav a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--minhaFonte);
}

.logo{
    width: 250px;
}

h1{
    text-transform: uppercase;
}
    
h2{
    color: var(--corBotoesH2Texto);
    text-align: center;
}
.imagemProduto{
    width: 400px;
}
.boxProduto{
    background-color: rgba(37, 37, 37, 0.8);
    width: 850px;
    margin: auto;
    border-radius: var(--arredondamentoBordas);
    vertical-align: center;
}

.boxImg, .boxTexto{
    display: inline-block;
    vertical-align: middle;

}

.boxTexto{
    width: 400px;
    text-align: start;
}

h1, h2, h3, button{
    margin: 10px 0px;
    font: var(--minhaFonte);
}

button{
    background-color: var(--corBotoesH2Texto);
    padding: 15px;
    border: none;
    border-radius: var(--arredondamentoBordas);
    width: 150px;
    cursor: pointer;
}

.modal h6{
    color: rgb(224, 224, 26);
    text-align: center;
}